<div>
    {{User.email}}
    {{createdAt}}
</div>
<div>
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <iframe width="560" height="315" src="UPDATE YT URL" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img data-mood={{mood}} src="UNSPLASH URL" alt="placeholder">

</div>